@media screen and (max-width: 1170px) {
	/*SECTION { transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out;}*/
	.Wrapper { width: 96% }
	.MainHead H1 { position: absolute; left: 0; top: 0}
	.MainHead .Acciones { width: 100%;}
	.MainHead .Seguinos { width: 72% }
	.MainHead .Seguinos .Block { float: left; width: 50%}
	.MainHead .Inscribite { width: 28%; border-left: 0}
	.MainNav LI A { font-size: 1.3em; margin-left: 5px; margin-right: 6px;}
	.MainNav .SepL > A { margin-left: 6px; padding-left: 8px;}
	.MainNav .SepR > A { margin-right: 6px; padding-right: 8px;}
	.FixThis LI A { font-size: 1.1em;}
	.FixThis .Box .IconSep { left: 3px}
	.ColumnistasBar UL { display: table;}
	.ColumnistasBar LI { float: none; display: table-cell; width: 14.5%; text-align: center; vertical-align: top}
	.ColumnistasBar LI:first-child { padding: 0; width: 13%; vertical-align: middle; border-right: 1px solid #e2e5e5; text-align: left}
	.ColumnistasBar A {padding: 12px 10px;}
	.ColumnistasBar IMG { position: static;}
	.ColumnistasBar FIGCAPTION { padding-left: 0; font-size: 1.1em; line-height: 14px;}
	.Blogs .Head { padding-left: 50px;}
	.Foot .Cell:first-child { width: 19%}
	.Foot .Cell { width: 24%; margin-left: 3%; padding-top: 30px; padding-bottom: 30px;}
	.Foot .LaRevista .Btn { padding-left: 14px; padding-right: 14px;}
	/**/
	.SocialBar UL { padding-left: 0}
	.SocialBar LI:last-child { padding-right: 0}
	.SocialBar .Suscribite .fa {padding: 9px 10px;}
	.SocialBar .Share .fa {padding: 9px 10px;}
	.SocialBar .Share .fa-facebook { padding: 9px 12px}
	.LoadBar A {width: 31.5040%;}
	/**/
	.Nota .Imagen .Share {width: 29%;}
	.Nota .Imagen .Caption {width: 70.8%;}
	.Nota .Imagenes .Counter {width: 19%;}
	.Nota .Imagenes .Caption {width: 80.8%;}
	.Agenda .Date { padding-left: 3%;}
}
@media screen and (max-width: 1020px) {
	.TopBanner { display: none}
	HEADER { display: none}
	.MainNav { display: none}
	NAV { height: 53px;}
	.MobileNav { display: block; width: 100%; float: left; position: relative}
	.MobileNav .Menu {float: left; width: 58px;}
	.MobileNav .ShowMenu.Open {background: url(../images/layout/search-arrow.png) no-repeat center bottom}
	.MobileNav .ShowMenu { display: block; width: 53px; height: 53px; text-align: center; color: #fff; font-size: 2.5em; line-height: 25px; padding-top: 14px; margin-left: 5px;}
	.MobileNav .Logo { float: left;}
	.MobileNav .Logo A { display: block; background: url(../images/layout/logo-mobile.png) no-repeat; width: 104px; height: 38px; text-indent: -5000px; position: absolute; top: 8px; left: 50%; margin-left: -52px;}
	.MobileNav .Login { float: left;}
	.MobileNav .CallLogin { font-size: 1.3em; line-height: 15px; color: #fff; position: absolute; top: 21px; right: 12%}
	.MobileNav .Box { float: right; width: 64px}
	.MobileNav .Box .IconSep { background: url(../images/layout/separador-blaco.png) no-repeat; position: relative; top: 3px;}
	.MobileNav .ShowSearch { font-size: 2.2em; line-height: 22px; width: 53px; text-align: center; height: 53px; padding-top: 16px; color: #fff; display: inline-block;}
	.MobileNav .ShowSearch.Open { color: #fff;}
	.MobileNav .SearchBox .Arrow { position: absolute; top: -8px; right: 20px; width: 22px; height: 8px; display: block; background: url(../images/layout/search-arrow.png) no-repeat}
	.MobileNav .SearchBox { width: 100%; padding: 20px; background: #afb4b5; position: absolute; top: 53px; right: 0; display: none; text-align: center }
	.MobileNav .SearchBox INPUT[type="text"] {height: 34px; font-size: 1.4em; line-height: 16px; text-transform: uppercase; float: left; padding-left: 14px; width: 80%;}
	.MobileNav .SearchBox INPUT[type="submit"] { height: 34px; border: 1px solid #000; background: #232424; float: right; font-size: 1.4em; color: #fff; width: 80px; text-transform: uppercase; font-family: "karlabold", Arial, Helvetica, sans-serif;}
	.MobileNav .SearchBox INPUT[type="submit"]:hover { color: #000; background: transparent}
	.MobileNav .SearchBox .Block { display: inline-block; margin: 0 auto; width: 65%;}
	.MobileNav .Box:hover .SearchBox { display: block}
	.MobileNav .Menu UL { position: absolute; width: 49%; left: 0; top: 53px; background: #afb4b5; display: none}
	.MobileNav .Menu LI { width: 100%; border-bottom: 1px solid #d3d6d7;}
	.MobileNav .Menu LI A { display: block; position: relative; padding-left: 22px; font-size: 1.6em; line-height: 18px; color: #fff; height: 43px; padding-top: 13px; text-transform: uppercase}
	.MobileNav .Menu LI .fa-angle-right { position: absolute; top: 8px; right: 20px; font-size: 1.8em;}
	.MobileNav .Menu LI .Label {padding-left: 22px; font-size: 1.6em; line-height: 18px; color: #fff; display: inline-block; text-transform: uppercase; padding-top: 13px; height: 43px;}
	.MobileNav .Menu LI .Share A { display: inline-block; height: auto; padding-left: 0; font-size: 2.2em; margin-left: 15px;}
	.MobileNav .Menu .Level-2 { background: #9ca2a4;}
	.MobileNav .Menu .Level-3 { background: #fac68a; border-color: #fff;}
	.FixThis LI { margin-top: 0; padding-bottom: 0}
	.FixThis .Box .IconSep { display: inline-block}
	.MobileNav .Search { padding-top: 12px; padding-bottom: 12px; display: none;}
	.MobileNav .Search SPAN { display: block; overflow: hidden; width: 90%; margin: 0 auto;}
	.MobileNav .Search INPUT[type="text"] {height: 44px; font-size: 1.6em; line-height: 18px; text-transform: uppercase; float: left; padding-left: 14px; width: 85%; border: none}
	.MobileNav .Search BUTTON[type="submit"] { height: 44px; border: none; background: #fff; float: right; font-size: 2em; color: #000; width: 15%; text-transform: uppercase; font-family: "karlabold", Arial, Helvetica, sans-serif;}
	.AccessLayer { top: 53px;}
	.AccessLayer .Arrow { right: 40%;}
	.ColumnistasBar { position: relative}
	.ColumnistasBar UL { margin-top: 30px;}
	.ColumnistasBar LI H4 { position: absolute; left: 0; top: 0; width: 100%; text-align: center; padding-top: 10px; font-size: 1.6em; line-height: 18px; background: url(../images/layout/columnistas-bg.png) no-repeat center 70%}
	.ColumnistasBar LI { width: 16.66%}
	.ColumnistasBar LI:first-child { border: none; width: 0%}
	.ColumnistasBar A:hover { border: none; background: none}
	.BoxesGrid { margin-top: 15px;}
	.FullImg .InnerBox .Data {transform: translateY(0px);}
	.InfoBox { margin-bottom: 15px;}
	/**/
	.Suscribirme P { text-align: center;}
	.Suscribirme LABEL { float: none; width: 100%; padding-bottom: 14px; height: auto}
	.Suscribirme .Block { display: inline-block; margin: 0 auto;}
	.Foot { padding-top: 20px;}
	.Foot .Cell { width: 49%; margin-left: 2%; padding: 30px; border: 1px solid #ced0d0; background: #f5f5f5; margin-bottom: 20px; min-height: 280px;}
	.Foot .Cell:first-child { width: 49%; margin-left: 0}
	.Foot .Cell:nth-child(3) { margin-left: 0}
	/**/
	.Articulo { width: 100%;}
	.SideBar { width: 100%; float: left}
	.SocialBar LI:last-child {padding-right: 15px;}
}
@media screen and (max-width: 950px) {
	#MsGrid .grid-sizer { width: 49%}
	#MsGrid .gutter-sizer { width: 2%}
	.InfoBox.FullImgDoble { width: 100%; padding: 0}
	.InfoBox { width: 49%}
	.LoadBar { margin-bottom: 25px;}
	.LoadBar A { width: 100%;}
	.Blogs .Slider LI { width: 162px; padding-right: 10px;}
	.Blogs .Slider LI IMG { width: 100%; height: auto;}
	.Foot .Final { border: none; padding-top: 0;}
	.Foot .Final P { width: 70%; line-height: 20px;}
	.AccessLayer .Arrow { right: 34%;}
}

@media screen and (max-width: 750px) {
	.BotBanner { display: none;}
	.CatHead.blog-dashboard { height: auto;}
}
@media screen and (max-width: 630px) {
	.MobileNav .Menu UL { width: 100%}
	.MobileNav .ShowLogin { right: 20px;}
	.MobileNav .Box { display: none}
	.MobileNav .Search { display: block}
	.AccessLayer .Arrow { right: 28%;}
	.ColumnistasBar { border-bottom: none}
	.ColumnistasBar .Desktop { display: none}
	.ColumnistasBar .Mobile { display: block}
	.ColumnistasBar H4 { margin-top: 10px; margin-bottom: 10px;}
	.ColumnistasBar .CnistaSlider { border: 1px solid #e2e4e4; width: 100%; position: relative}
	.ColumnistasBar .Container { width: 88%; margin: 0 auto; }
	.ColumnistasBar UL { margin-top: 0; display: block; width: 100%; overflow: hidden;}
	.ColumnistasBar LI { display: block; float: left; width: 130px; height: 100px; overflow: hidden}
	.ColumnistasBar LI:first-child { width: 130px; text-align: center}
	.ColumnistasBar LI A { border-left: 1px solid #e2e4e4; border-right: none}
	.ColumnistasBar LI A:hover { border-right: none; border-left: 1px solid #e2e4e4;}
	.ColumnistasBar .Control { width: 32px; height: 100px; color: #000; text-align: center; padding-top: 40px; font-size: 2.4em; top: 0; position: absolute; display: block; z-index: 10}
	.ColumnistasBar .Next2 { right: 0; border-left: 1px solid #DBDDDD; background: #fff;}
	.ColumnistasBar .Next2:hover { border-left: 1px solid #DBDDDD;background: #fff;}
	.ColumnistasBar .Prev2 { left: 0; background: #fff; border-right: 1px solid #DBDDDD;}
	.ColumnistasBar .Prev2:hover { border-right: 1px solid #DBDDDD;background: #fff;}
	/**/
	#MsGrid .grid-sizer { width: 100%;}
	.InfoBox { width: 100%; padding: 16px;}
	.FullImg .InnerBox .Data { padding: 16px;}
	/**/
	.Foot .Cell { margin-left: 0; width: 100%; min-height: 100%}
	.Foot .Cell:first-child { margin-left: 0; width: 100%}
	.Foot .Sophia { text-align: center}
	.Foot .Cell H2 A { margin-left: auto; margin-right: auto;}
	.Foot .Cell H3 { text-align: center}
	/**/
	.Articulo H4.cultura { margin-bottom: 15px;}
	.Articulo .Head H1 { font-size: 3.5em; line-height: 37px;}
	.Articulo .Head H3 { font-size: 1.6em; line-height: 18px;}
	.SocialBar UL { background: none}
	.SocialBar LI:first-child { padding-left: 0;}
	.SocialBar LI:last-child { padding-right:0}
	.SocialBar LI:nth-child(1) { width: 40%}
	.SocialBar LI:nth-child(2) { width: 60%}
	.SocialBar LI:nth-child(3) { width: 100%; border-top: 1px solid #333; border-bottom: 1px solid #333; padding-top: 12px; padding-bottom: 12px; text-align: center}
	.SocialBar .IconSep { position: relative; top: 0px;}
	.SocialBar .Suscribite STRONG { display: inline-block; width: 100px; padding-top: 8px;}
	.SocialBar .Suscribite + .IconSep { display: none}
	.SocialBar .Suscribite .fa { position: relative; top: -5px;}
	.SocialBar .Share STRONG { display: block; margin-bottom: 10px;}
	.SocialBar .Share .fa-facebook { color: #fff; background: #405da9; border-color: #405da9}
	.SocialBar .Share .fa-twitter { color: #fff; background: #00c3ff; border-color: #00c3ff}
	.SocialBar .Share .fa-google-plus { color: #fff; background: #d6402b; border-color: #d6402b}
	.SocialBar .Share .fa-envelope { color: #fff; background: #8e8e91; border-color: #8e8e91}
	.Nota .Imagen .Share { padding-left: 0; text-align: center; padding-top: 13px;}
	.Nota .Imagen .Label { display: none}
	.Nota .Imagen .Share .fa { font-size: 1.6em; margin-left: 6px; margin-right: 6px;}
	.Nota .Imagen .Caption { padding-top: 5px;; font-size: 1.1em;}
	.Nota P { line-height: 20px;}
	.Nota BLOCKQUOTE { width: 100%; margin-left: 0; margin-bottom: 28px; padding: 18px;}
	.Nota .Imagenes .Counter {width: 29%;}
	.Nota .Imagenes .Caption { width: 70.8%;}
	.Recibir { text-align: center}
	.Recibir INPUT[type="text"] { width: 100%; margin-bottom: 20px; float: none}
	.Recibir INPUT[type="submit"] { float: none; margin: 0 auto;}
	.UltimasNotas LI,
	.Articulo .UltimasNotas LI,
	.Destacadas .Item { width: 100%; margin-left: 0}
	/**/
	.Columnista { margin-top: 20px;}
	.Columnista FIGURE { float: none; margin: 0 auto; width: 30%}
	.Columnista .Data { float: none; width: 100%; padding-top: 20px; padding-left: 20px; padding-right: 20px;}
}
@media screen and (max-width: 430px) {
	.TopBanner { display: block}
	.TopBanner .Desktop { display: none}
	.TopBanner .Mobile { display: block; margin: 0 auto;}
	.MobileNav .CallLogin { right: 5%;}
	.AccessLayer { width: 100%}
	.AccessLayer .Arrow { right: 10%;}
	MAIN { border: none}
	.Blogs { margin-bottom: 20px; border: none}
	.Blogs .Desktop { display: none}
	.Blogs .Mobile { display: block}
	.Blogs .InnerBox { border: 1px solid #d4d7d7; padding: 16px; overflow: hidden;}
	.Blogs { border-bottom: none; padding-top: 0; padding-bottom: 0px;}
	.Blogs .Head { overflow: hidden; margin-bottom: 15px; padding-bottom: 16px; border-bottom: 1px solid #d0d2d2; padding-left: 0}
	.Blogs UL { width: 100%; overflow: hidden;}
	.Blogs LI { width: 50%; float: left; border-bottom: 1px solid #d0d2d2; margin-bottom: 20px; min-height: 200px; padding-right: 3%; margin-right: 0}
	.Blogs LI:nth-child(1n) { padding-left: 0}
	.Blogs LI:nth-child(2n){padding-left: 3%; padding-right: 0}
	.Blogs LI H4 { font-size: 1.2em; line-height: 14px; color: #51c4a8; margin-bottom: 10px;}
	.Blogs LI H4 A {color: #51c4a8; text-decoration: underline}
	.Blogs LI FIGURE { margin-bottom: 12px;}
	.Blogs LI IMG { width: 100%; height: auto}
	.Blogs LI P { color: #000;}
	.Blogs LI P A { color: #000;}
	.Blogs LI SPAN { display: block; font-size: 1.2em; line-height: 14px; margin-bottom: 5px;}
	.Blogs LI P STRONG { font-size: 1.4em; line-height: 16px;}
	.Blogs .Lnk { display: block; float: left; font-size: 1.2em; line-height: 14px; color: #000; text-transform: uppercase; text-decoration: underline;}
	.Suscribirme .Block { text-align: center}
	.Suscribirme INPUT[type="text"] { width: 100%; float: none }
	.Suscribirme INPUT[type="submit"] { float: none; margin-top: 20px;}
	.Foot .Final P { width: 100%;}
	.Foot .Final H5 { width: 100%; float: left; padding-top: 15px;}
	/**/
	.FullImgDoble .InnerBox .Data { position: static; background: rgba(58, 58, 58, 1);}
	.Agenda .Date { padding-left: 3%;}
	.Frase .InnerBox H3 { font-size: 2.4em;}
	/**/
	.Columnista .Data H2 { text-align: center}
	.Columnista .Data H2 SPAN { display: none}
	.Columnista .Data H2 STRONG { display: block}
	.Columnista .Redes A { display: block; top: 0; margin-bottom: 10px;}
	.Columnista .Redes .IconSep { display: none}
	.ColumnistasBar LI A { border: none}
}
@media screen and (max-width: 320px) {
	.ColumnistasBar LI:first-child { width: 125px;}
	.ColumnistasBar LI { width: 125px;}
	.ColumnistasBar .Next2:hover {border-left: 1px solid #DBDDDD;}
}
@media screen and (orientation: portrait) {}
@media screen and (orientation: landscape) {}